:root{
    --purple: #382a86;}
   
   
   *{
       margin: 0; padding: 0;
       box-sizing: border-box;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       outline: none; border: none;
       text-decoration: none;
       text-transform: capitalize;
       transition: .2s linear;
   }
   
   
   html{
       font-size: 62.5%;
       scroll-behavior: smooth;
       scroll-padding-top: 6rem;
       overflow-x: hidden;
   }
   
   .heading{
       text-align: center;
       font-size: 4rem;
       color: #333;
       padding: 4rem;
       margin: 2rem 0;
       background: rgba(169, 79, 192, 0.05);
       margin-top: 70px;
       
   }
   
   .heading span{
       color: var(--purple);
   }  
   section{
       padding: 2rem 9%;
   }
   
   .bth{
       display: inline-block;
       margin-top: 1rem;
       border-radius: 5rem;
       background: #333;
       color: #fff;
       padding: .9rem 3.5rem;
       cursor: pointer;
       font-size: 1.7rem;
   }
   
   .bth:hover{
       background: var(--purple);
   }
   
   header{
       position: fixed;
       top: 0; left: 0; right: 0;
       background: #fff;
       padding: 2rem 9%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       z-index: 1000;
       box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
   }
   
   header .logo{
       font-size: 3rem;
       color: #333;
       font-weight: bolder;
   }
   
   header .logo span{
       color: var(--purple);
   }
   
   header .navbar a{
       font-size: 2rem;
       padding: 0 1.5rem;
       color: #666;
   }
   
   header .navbar a:hover{
       color: var(--purple);
   }
   
   header .icons a{
       font-size: 3rem;
       color: #333;
       margin-left: 1.5rem;
   }
   
   header .icons a:hover{
       color:var(--purple);
   }
   
   header #toggler{
       display: none;
   }
   
   header .fa-bars{
       font-size: 3rem;
       color: #333;
       border-radius: .5rem;
       padding: .5rem 1.5rem;
       cursor: pointer;
       border: 1rem solid rgba(0, 0, 0, .3);
       display: none;
   }
   
   
   .bth{
       display: inline-block;
       margin-top: 1rem;
       border-radius: 5rem;
       background: #333;
       color: #fff;
       padding: .9rem 3.5rem;
       cursor: pointer;
       font-size: 1.7rem;
   }
   
   .bth:hover{
       background: var(--purple);
   }
   
   header{
       position: fixed;
       top: 0; left: 0; right: 0;
       background: #fff;
       padding: 2rem 9%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       z-index: 1000;
       box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
   }
   
   header .logo{
    font-size: 3rem;
    color: #382a86;
    font-weight: bolder;
}
   
   header .logo span{
       color: var(--purple);
   }
   
   header .navbar a{
       font-size: 2rem;
       padding: 0 1.5rem;
       color: #666;
   }
   
   header .navbar a:hover{
       color: var(--purple);
   }
   
   header .icons a{
       font-size: 3rem;
       color: #333;
       margin-left: 1.5rem;
   }
   
   header .icons a:hover{
       color:var(--purple);
   }
   
   header #toggler{
       display: none;
   }
   
   header .fa-bars{
       font-size: 3rem;
       color: #333;
       border-radius: .5rem;
       padding: .5rem 1.5rem;
       cursor: pointer;
       border: 1rem solid rgba(0, 0, 0, .3);
       display: none;
   }
   @media (max-width:991px){
       html{
           font-size: 55%;
       }
       header{
           padding: 2rem;
       }
       section{
           padding: 2rem;
       }
       .home{
           background-position: left;
       }
   }
   
   @media (max-width:768px){
       header .fa-bars{
           display: block;
       }
   
       header .navbar{
           position: absolute;
           top: 100%; left: 0; right: 0;
           background: #eee;
           border-top: .1rem solid rgba(0, 0, 0, .1);
           clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
       }
   
       header #toggler:checked ~ .navbar{
           clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
       }
   
       header .navbar a{
           margin: 1.5rem;
           padding: 1.5rem;
           background: #fff;
           border: .1rem solid rgba(0, 0, 0, .1);
           display: block;
       }
   
       .home .content h3{
           font-size: 5rem;
       }
   
       .home .content span{
           font-size: 2.5rem;
       }
   
       .icons-container .icons h3{
           font-size: 2rem;
       }
       
       .icons-container .icons span{
           font-size: 1.7rem;
       }
   }
   
/*Container*/
.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 70px;
    
}
.review .box-container .box{
    flex: 1 1 25rem; /* Modifica este valor para ajustar el tamaño del cuadro del comentario */
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 2rem;
    position: relative;
    border: .1rem solid rgba(0, 0, 0, .1);
    
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom: 3rem; right: 3rem;
    font-size: 6rem;
    color: #eee;

}

.tax{
    flex: 1 1 30rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: 0.5rem;
    padding: 3rem 2rem;
    position: relative;
    border: 0.1rem solid rgba(0, 0, 0, .1);
    background:rgba(169, 79, 192, 0.05);
}
.tax .stars{
    color: var(--purple);
    font-size: 2rem;
}
.tax .fa-quote-right{
    position: absolute;
    bottom: 3rem; right: 3rem;
    font-size: 6rem;
    color: rgba(169, 79, 192, 0.05);

}
.tax p{
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
    text-align: justify;
}
.tax span{
    font-size: 1.4rem;
    color: #999;
}
.tax .user{
    align-items: center;
    padding-top: 2rem;
    text-align: center;
}
.tax .user img{
    height: 10rem;
    width: 8rem;
    object-fit: cover;
    margin-right: 1rem;
}
.tax .user h4{
    font-size: 1.7rem;
    color: #333;

}
.review .box-container .box .stars i{
    color: var(--purple);
    font-size: 2rem;
}

.review .box-container .box p{
    color:#999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 1.7rem;
    color: #333;
    
}

.review .box-container .box .user h4{
    font-size: 1.7rem;
    color: #333;
    
}

.review .box-container .box .user span{
    font-size: 1.4rem;
    color: #999;
}

button {
    padding: 15px 40px 15px 40px;
    background-color: rgb(30, 26, 28);
    font-size: 1em;
    color: rgb(0, 0, 0);
    -webkit-transition: background 0.5s linear;
    transition: background 0.5s linear;
}
.boton-comentario {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.boton-comentario:hover {
    background-color: #e0e0e0;
    color: #222;
}


/*footer*/
footer {
    background: rgba(169, 79, 192, 0.05);
    margin-top: 30px;
    padding: 10px 0;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.footer-column {
    flex: 1;
    margin: 0 20px; 
    text-align: center;
}

.footer-column h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.social-media {
    text-align: center;
    margin-top: 30px;
}

.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: black;
    font-size: 25px;
}
.copyright {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: black;
}
/* Estilos adicionales para hacer el footer responsive */
@media screen and (max-width: 768px) {
    .footer-column {
        flex: 100%; /* Ocupa todo el ancho en dispositivos pequeños */
        margin: 20px 0; /* Agregado para dar espacio entre las columnas */
    }}

 @media screen and (max-width: 700px){
        .img-container{
            width: 100%;
            margin: 0;
        }
    }

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
  .home {
    background-position: left;
  }
}

@media (max-width: 768px) {
  header .fa-bars {
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header #toggler:checked~.navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: #fff;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: block;
  }

  .home .content h3 {
    font-size: 5rem;
  }

  .home .content span {
    font-size: 2.5rem;
  }

  .icons-container .icons h3 {
    font-size: 2rem;
  }

  .icons-container .icons span {
    font-size: 1.7rem;
  }
}